[user]
	name = username
	email = xxxx@xxxx.com
[core]
	excludesfile = /Users/username/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/username/.stCommitMsg
[includeIf "gitdir:~/Workspace/private/"]
	path = ~/.gitconfig_private
